@charset "utf-8";
/* CSS Document */

#row-fluid-media-heading{
	border-bottom: 1px solid;
    margin: 0 0 15px;
    padding: 33px 0 10px;
	}
.row a .bold-beautiful{
	margin: 2%  2%;
	}
.row a .bold-beautiful:hover{
	opacity:0.7;
	}	
.row a .videos{
	margin:2% 2.8% 2% 0;
	}
.row a .videos:hover{
	opacity:0.7;
	}
	
	
	.row a .home-blogs{
	margin:2% 3.5% 2% 3.5%;
	}
.row a .home-blogs:hover{
	opacity:0.7;
	}		
	#media_header_img{
		margin-top:1%;
		}
		
		/*SLIDER CSS*/
		.bx-wrapper {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 5px solid #fff;
    box-shadow: none;
	
}
	
		.bxslider .bx-clone{
			margin:0 20px 0 20px;
			}
			#box_slider .bx-wrapper{
				width:100%
				}	
			