.border_bottom {
    border-bottom: 1px solid black;
}
.letterspace3px {
    letter-spacing: 3px;
}
a {
    text-decoration: none;
    color: black;
}
> a:active {
    text-decoration: none !important;
}
a:hover {
    text-decoration: none;
    color: black;
}


.marginbottom68px {
    margin-bottom: 68px;
}
.marginbottom30px {
    margin-bottom: 30px;
}
.marginleft28px {
    margin-left: 28px;
}
.marginbottom115px {
    margin-bottom: 115px;
}
.marginbottom15px {
    margin-bottom: 15px;
}
.margintop400px {
     margin-top: 400px;
}
.textalleft {
    text-align: left;
}
.w995px {
    width: 995px;
}
.paddinglr52px {
    padding-left: 52px;
    padding-right: 52px;
}
.w788px {
    width: 788px;
}
.w88pc {
    width: 88%;
}
.marginbottom15px {
    margin-bottom: 15px;
}