
body {
    overflow-x: hidden;
}
.clear {
    clear: both;
}
.share-button{
	padding:0 2.7% 0 0;
	}

/***************************************************************** 10/28/2015***********************/



.job_applying {
    padding-bottom: 4%;
}
.input_left_wrap {
    float: left;
    padding: 0;
}
.input_left_wrap div {
    display: block;
}
.input_left_wrap div input {
    border: 0 none;
    display: block;
    font-style: italic;
    height: 40px;
    margin: 0 0 14px;
    padding: 7px 7px 5px 5px;
}
.input_right_wrap {
}
.input_right_wrap div input {
   border: medium none;
    display: block;
    font-style: italic;
    height: 40px;
    margin: 0 0 14px;
    padding: 7px 7px 5px 5px;
}
.input_left_wrap div label {
    display: inline-block;
    float: left;
    margin: 16px 21px 0 0;
}
.input_left_wrap div {
    border: 1px solid #b9b9b9;
    display: block;
    height: 43px;
    margin: 0 0 15px;
}
.input_right_wrap div {
   border: 1px solid #b9b9b9;
    display: block;
    height: 43px;
    margin: 0 0 15px;
}
.input_left_wrap div .file {
    margin: 0;
    padding: 0;
}
#btn_submit {
    background-image: url("../images/contact-us/careers/apply_now.png");
    background-repeat: no-repeat;
    border: 0 none;
    float: right;
    margin: 4% 0 0;
    width: 26%;
}
.req_steric {
    float: right;
    font-size: 24px;
    padding: 8px 0 0;
    width: 18px;
}
.input_left_wrap div .label-required {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin: 16px 21px 0 0;
}
/**************************************************/
.vita {
    padding: 0 12px;
}
.dolcevita-heading {
}
.underline-34 {
    border-bottom: 1px solid;
    display: block;
    margin: 0 auto;
    width: 34%;
}
.unique-product {
    position: relative;
}
.home-overlay-txt-box {
    position: absolute;
    text-align: center;
}
.home-overlay-txt-box .home-overlay-txt {
    display: block;
    margin-bottom: 8px;
}
.home-overlay-txt-box a .img-readmore {
}
.emancipate {
    left: 29%;
    top: 32%;
}
.furniture {
    left: 23%;
    top: 29%;
}
.nouveau {
    left: 33%;
    top: 47%;
}
.bold_beauty {
    left: 46%;
    top: 63%;
}
.watch_video {
    left: 38%;
    top: 89%;
}
#VIDEO_playback {
    position: absolute;
    z-index: -1;
}
#img-play-back:hover {
    opacity: 0.5;
}
#contact_map {
    height: 442px;
}
.store-ifram {
    margin: 0 0 0 17%;
}
@font-face {
    font-family: "CENTAUR";
    src: url("fonts/GEORGIA_1.TTF");
}
.nav > li {
    margin-left: 0.8em;
}
.navbar-nav {
    float: left;
    margin: 0;
    padding-left: 2%;
}
#diamond_img {
    left: 3.7em;
    position: absolute;
    top: -6em;
    width: 40%;
    z-index: 1;
}
.navbar-toggle {
    background-image: url("../images/nav-button.jpg");
    padding: 13px 10px;
}
.diamond_img_wrap {
}
.products_wrap .col-sm-6 .w100p {
    display: inline-block;
    width: 100%;
}
.container {
}
.products_wrap {
}
.width100 {
    width: 100%;
}
.width-auto {
    width: auto;
}
#logo {
    width: 90%;
}
.navbar-nav > li > a {
    color: #000;
    font-family: georgia;
    font-size: 11px;
    letter-spacing: 2px;
    margin: 5px 0;
    padding-bottom: 2px;
    padding-top: 2px;
}
.navbar-nav > li > a:hover {
}
.dropdown-menu {
}
.caret-equal {
    padding: 0 0 0 1px;
}
.dropdown-menu li {
    text-align: center;
}
.dropdown-menu .divider-custum {
    background-color: #828282;
    height: 1px;
    margin: 0 15%;
    overflow: hidden;
}
.dropdown-menu > li > a {
    font-family: georgia;
    font-size: 0.79em;
    letter-spacing: 1px;
}
.navbar {
    border-bottom: 1px solid;
    border-top: 2px solid #828282;
    min-height: 38px;
}
.LOGO_wrap {
    padding: 2% 0;
}
.DText {
    padding: 2% 0;
}
#footer {
    padding: 2% 0 1%;
}
.col-xs-12 .product_img {
    width: 100%;
}
.products_wrap .col-xs-12 {
    padding: 0;
}
#img_copyright {
    margin: 1em 0 0;
}
.product_div {
    padding: 20px 0 0;
}
map {
    display: inline;
}
.main-container {
    font-family: georgia;
    width: 1111px;
}
.heading {
}
.description {
    font-size: 16px;
    margin-top: 20px !important;
    padding: 0 15%;
}
.sub-pages {
    width: 998px;
}
.sub-nav {
    background-color: black;
    color: white;
    font-family: georgea;
    height: 41px;
    margin-left: -29px;
    width: 1172px;
}
.sub-nav > ul {
    display: table-cell;
    height: 41px;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    vertical-align: middle;
}
.sub-nav > ul > li div {
    display: none;
}
.activeNav div {
    display: block !important;
}
.sub-nav > ul > li {
    display: inline-block;
    float: left;
    margin: 13px 0 0 !important;
    padding-right: 22px;
}
.sub-nav > ul > li > a {
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}
.sub-nav > ul > li > a:active {
    color: white;
    text-decoration: none !important;
}
.nav > li > a:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #000;
    color: #fff;
}
.sub-nav-nouveau {
    width: 330px;
}
.sub-nav-restoration {
    width: 360px;
}
.sub_nav_luxury_sleep_system {
}
.sub_nav_luxury_sleep_system > ul > li {
    padding-right: 42px;
}
.end-product {
    font-family: georgea;
    margin-left: -29px;
    margin-top: 62px;
}
.end-product .end-product-heading h3 {
    font-size: 35px;
    letter-spacing: 6px;
    margin-top: 0;
}
.end-product .end-product-description {
    font-size: 16px;
    padding-left: 17px;
}
.end-product .end-product-description p {
    margin: 0;
}
.w100p {
    width: 100%;
}
.topleft0 {
    left: 0;
    top: 0;
}
.position-relative {
    position: relative;
}
.textalcenter {
    text-align: center;
}
.mgl1p {
    margin: 0 0 0 1%;
}
.mgr10px {
    margin-right: 10px;
}
.mg10px {
    margin: 10px;
}
.mgb0px {
    margin-bottom: 0;
}
.margintop30px {
    margin-top: 30px;
}
.margin0auto {
    margin: 0 auto;
}
.pdngtb3p {
    padding: 3% 0;
}
.padding0 {
    padding: 0;
}
.paddingr10px {
    padding-right: 10px;
}
.paddingl10px {
    padding-left: 10px;
}
.bdrradius0 {
    border-radius: 0;
}
.hminus1px {
}
.h50px {
    height: 50px;
}
.mglminus8px {
    margin-left: -8px;
}
.displayinlineblck {
    display: inline-block;
}
.borderbottom {
    border-bottom: 1px solid black;
}
.maginl118px {
    margin: 72px 0 66px 42px;
}
.paddingl32px {
    padding-left: 32px;
}
.paddingr0px {
    padding-right: 0;
}
.margintop28px {
    margin-top: 28px;
}
.marginttopm2px {
    margin-top: -2px;
}
.displayblock {
    display: block;
}
.no-border{
	border:none !important;
	}